<div class="container-fluid mt-5 pb-5">
  <div class="mb-5">
    <h1 class="h3">
      Admin | {{app.title}}
    </h1>

    <hr>
    <p class="m-0" id="msg"></p>
  </div>

  <h4>Welcome, {{user.name}}</h4>

  <div class="mt-5 mb-2">
    <div class="row mt-5">
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white card-primary o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon none-transform">
              <i class="fa fa-fw fa-wrench"></i>
            </div>
            <div class="mr-5">
              <b>
                My Account
              </b>
            </div>
          </div>
          <a class="card-footer text-white clearfix minify-icon small z-1" href="#" data-toggle="modal"
            data-target="#EditarAdm">
            <span class="float-left">Open</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white card-primary o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon none-transform">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </div>
            <div class="mr-5">
              <b>
                Change password
              </b>
            </div>
          </div>
          <a class="card-footer text-white clearfix minify-icon small z-1" href="#" data-toggle="modal"
            data-target="#EditarAdmPassword">
            <span class="float-left">Open</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  {{> modal/user}}
  {{> modal/password}}

  <script src="/src/js/scripts/dashboard/home/index.js"></script>
  <script src="/src/js/scripts/datetime/index.js"></script>
</div>
