<div class="modal fade" id="cadastrarAdm" tabindex="-1" role="dialog" aria-labelledby="labelCreate" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="border-radius: 0px;">

      <div class="modal-header">
        <h5 class="modal-title" id="labelCreate">
          <i class="fa fa-shield" aria-hidden="true"></i>
          New Administrator
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body p-4">
        <form method="POST" action="/user/cadastrar">
          <div class="form-group mt-2">
            <label for="name">
              <i class="fa fa-cube mr-1" aria-hidden="true"></i>
              Name
            </label>
            <input autocomplete="off" type="text" class="form-control" id="name" name="name" placeholder="Name"
              required>
          </div>
          <div class="form-group mt-4">
            <label for="login">
              <i class="fa fa-flag mr-1" aria-hidden="true"></i>
              Login
            </label>
            <input autocomplete="off" type="text" class="form-control" id="login" placeholder="Login" name="login"
              required>
          </div>
          <div class="form-group mt-4">
            <label for="password">
              <i class="fa fa-lock mr-1" aria-hidden="true"></i>
              Password
            </label>
            <input autocomplete="off" type="text" class="form-control" id="password" name="password" required>
          </div>

          <div class="form-group mt-4">
            <label for="permission">
              <i class="fa fa-cogs" aria-hidden="true"></i>
              Permission
            </label>
            <select class="form-control custom-select" id="permission" name="permission" required>
              <option value="all">All Permission</option>
              <option value="read">Read Permission</option>
              <option value="update">Write Permission</option>
            </select>
          </div>

          <div class="text-center mt-4 mb-2">
            <button type="submit" class="btn btn-primary btn-block py-3">
              Submit
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<script>
  function novaSenha() {
    var password = Math.random().toString(36).substring(2)

    if (document.getElementById('password')) {
      $('#password').val(password)
    }
  }
</script>
