.nobutton {
  background: none !important;
  color: inherit !important;
  border: none !important;
  padding: 0 !important;
  font: inherit !important;
  cursor: pointer !important;
  outline: inherit !important;
}

.btn:active {
  -moz-transform: scale(0.98);
  -webkit-transform: scale(0.98);
  -o-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);

  transition: all 0.5s;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.btn.notransition:active {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);

  transition: all 0s;
  transition-property: all;
  transition-duration: 0s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.btn-logout {
  @include button-variant($gray-300, $gray-400, $gray-900);
}

.btn-back {
  @include button-circle($gray-300, $gray-900);
}

.btn-plus-responsible {
  @include button-circle($warning, $gray-900);
}

.btn-circle {
  @include button-circle-nocolor();
}

.btn-sidebar {
  background-color: $primary_theme;
  color: #ffffff !important;
}

.btn-actions {
  outline: none !important;
  color: $gray-900;

  &:hover {
    color: $dark-100;
  }
}

.btn-close-modal {
  cursor: pointer;
  filter: brightness(70%);
  transition: all 0.5s;

  &:hover {
    color: currentColor;
    filter: brightness(100%);
  }
}
