// dark mode
$dark-100: #16181b !default;
$dark-200: #0a0c0d !default;

// default
$primary_theme: #4165b0 !default;
$secondary_theme: #6783bf !default;
$light_theme: #f9fbfd !default;

// anchor
$link_theme: #4165b0;
