@import "../components/mixin/index";

body[data-theme="dark"] {
  // default
  background-color: $gray-900 !important;
  color: $gray-100 !important;

  // link
  a {
    color: $gray-500;
    transition: all 0.5s;
  }

  a:hover {
    color: $gray-300;
  }

  // button
  button.text-dark {
    color: $gray-200 !important;
  }

  .btn-table {
    color: $gray-100 !important;
  }

  .btn-primary {
    color: inherit !important;
  }

  .btn-outline-primary {
    color: inherit !important;
  }

  .btn-logout {
    @include button-variant($gray-700, $gray-800, $gray-200);
  }

  .btn-back,
  .btn-plus-responsible {
    background-color: $dark-200 !important;
    color: $gray-200 !important;

    &:hover {
      background-color: $dark-100 !important;
    }
  }

  // table
  table {
    color: $gray-100 !important;

    th {
      background-color: $dark-100 !important;
      border: 1px solid $gray-800 !important;
      color: $white !important;
    }

    td {
      border: 1px solid $gray-800 !important;
    }
  }

  // card
  .card {
    background-color: $dark-100 !important;
  }

  .card-header {
    background-color: $dark-100 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    color: $gray-100;
  }

  .card-primary {
    background-color: $dark-100;
  }

  .card-add-student,
  .card-add-teacher,
  .card-add-group {
    background-color: $dark-100 !important;
  }

  .card-body-icon {
    color: $gray-900;
  }

  .box-part {
    background-color: $dark-100 !important;
  }

  .card-input-element:checked + .card::after {
    color: #ffffff;
  }

  .card-options {
    background-color: #2f3136;
  }

  .card-options.box {
    background-image: linear-gradient(rgba(47, 49, 54, 0.9), rgba(47, 49, 54, 0.88)), url("/src/img/banner.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    border-radius: 0.25rem;
  }

  // form
  .form-filter {
    background-color: transparent;
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    border-color: $gray-600 !important;
    background-color: $gray-600 !important;
  }

  .form-control,
  .custom-select {
    background-color: $dark-100 !important;
    color: $gray-300 !important;
    border: 1px solid $dark-100 !important;
  }

  .input-group-text {
    background-color: #1b1d21;
    border-color: #1b1d21;
  }

  .select {
    color: #495057;
    background-color: $dark-100;
    border: 1px solid $dark-100;
  }

  .select .list {
    background: $dark-100;
  }

  .select.large .filter {
    background-color: #2d2f33;
  }

  .select .list ul li,
  .select .list ul li.hovered {
    background: #2d2f33;
    color: #928f8f;
  }

  .select .list ul li:hover,
  .select .list ul li.hovered {
    background: $dark-100;
  }

  .select .list .filter input {
    background-color: #2d2f33;
  }

  .select .list .filter input {
    color: #928f8f;
  }

  [type="date"],
  [type="datetime-local"] {
    background: #fff url("/src/img/calendar-dark.png") 97% 50% no-repeat;
    background-size: 16px;
  }

  .page-link {
    background-color: $dark-100 !important;
    border: 1px solid $dark-100 !important;
    color: $gray-300 !important;
  }

  // bg
  .bg-course {
    background-color: $dark-200 !important;
  }

  .bg-combo {
    background-color: $dark-200 !important;
  }

  .bg-moodle {
    background-color: $dark-200 !important;
  }

  // timeline
  ul.timeline > li:before {
    background: #2f3136;
    border: 3px solid #ffffff;
  }

  // navbar
  .navbar {
    background-color: $gray-900 !important;
    border-bottom: 1px solid $gray-800;
  }

  .nav-info {
    background-color: $dark-100 !important;
  }

  // sidebar
  .menu {
    border-right: none;
  }

  .sidebar-login {
    background-color: $dark-100;
  }

  .options-sidebar-login {
    color: $gray-500 !important;
  }

  .sidebar {
    background-color: $dark-100 !important;
  }

  .sidebar-banner {
    color: $gray-300;
    background-color: $dark-100;
    border-right: none;
    border-bottom: 1px solid $gray-800;
  }

  .dashboard-option.active {
    color: $gray-200 !important;
    background-color: $gray-800 !important;
  }

  .active-sidebar {
    background-color: $dark-200;
    color: #e1e7ec !important;
  }

  .active-sidebar:hover {
    background-color: #202629;
  }

  // modal
  .modal .close {
    color: $gray-400 !important;
  }

  .modal-header {
    border-bottom: 1px solid $gray-800 !important;
    border-radius: 2px 2px 0 0 !important;
  }

  .modal-footer {
    border-top: 1px solid $gray-800 !important;
    border-radius: 0 0 2px 2px !important;
  }

  .modal-header,
  .modal-body,
  .modal-footer {
    background-color: $gray-900 !important;
  }

  // loading
  .container-loading {
    background-color: $gray-900 !important;
  }

  .loader {
    border: 4px solid $gray-700 !important;
  }

  .loader-inner {
    background-color: $gray-700 !important;
  }

  // popover
  .popover-content {
    background-color: $dark-100 !important;

    a {
      color: $gray-100 !important;
    }

    a:hover {
      background-color: $dark-200 !important;
    }
  }

  // icons
  .arrow:after {
    border-left-color: $dark-100 !important;
  }

  // text
  .text-muted {
    color: $gray-400 !important;
  }

  // dropdown
  .dropdown-menu {
    background-color: $dark-100 !important;
  }

  .dropdown-item.active,
  .dropdown-item:active,
  .dropdown-item:hover,
  .dropdown-item:focus {
    background-color: transparent !important;
    color: $gray-400 !important;
  }

  // modal
  .modal-content {
    border: none;
  }

  // scroll
  .menu::-webkit-scrollbar-thumb {
    background: rgba(70, 70, 70, 1);
  }

  // bg
  .bg-light {
    background-color: $dark-200 !important;
  }
}
